n8n_workflow_gex.json
{
  "name": "GEX Corporation - Webhook Universal",
  "nodes": [
    {
      "parameters": {
        "path": "gex-webhook",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook GEX",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "gex-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GEX_API_URL || 'http://localhost:8000' }}/api/v1/webhook/",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-request-node",
      "name": "Enviar para GEX API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "success"
            }
          ]
        }
      },
      "id": "if-node",
      "name": "Verificar Sucesso",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Evento processado com sucesso\", \"data\": $json.data } }}"
      },
      "id": "respond-node-success",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": $json.detail || \"Erro ao processar evento\", \"code\": $json.code || \"UNKNOWN_ERROR\" } }}",
        "responseCode": 500
      },
      "id": "respond-node-error",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook GEX": {
      "main": [
        [
          {
            "node": "Enviar para GEX API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar para GEX API": {
      "main": [
        [
          {
            "node": "Verificar Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Sucesso": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "GEX Corporation",
      "id": "gex-corporation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

